:root {
  --color-white: #fff;
  --color-light-gray: #e8e8e8;
  --color-gray: #303134;
  --color-orange: #f3ab00;
  --color-darkTeal: #21495e;
  --color-dark: #111;

  --font-size-normal: 14px;
  --font-size-medium: 18px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-medium);
  color: var(--color-gray);
  background-color: var(--color-white);
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  padding: 0;
  border: 0;
}

a:hover:not(:focus-visible) {
  color: var(--color-orange);
  text-shadow: none;
  transition: all 1s ease-in-out;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--color-orange);
  outline-offset: 3px;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex {
  display: flex;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

/*! MAIN */

.left-section {
  flex-basis: 25%;
}

.right-section {
  flex-basis: 75%;
}

.title {
  padding: 75px 0 30px;
  text-align: center;
}

.avatar {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.avatar:hover {
  opacity: 0.7;
}

.title__name {
  margin: 0;
  line-height: 50px;
  letter-spacing: 0.2em;
  color: var(--color-orange);
}

.title__profession {
  margin: 0;
  line-height: 50px;
  text-transform: uppercase;
  font-size: 1em;
}

.section {
  padding: 20px 0;
}

.section-title {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.section-title::after {
  position: relative;
  display: block;
  content: "";
  height: 1.5px;
  background-color: var(--color-orange);
  top: 15px;
}

.skills,
.contacts {
  max-width: 90%;
  margin: 0 auto;
}

.skills__list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__list_item:not(:last-child) {
  margin-bottom: 8px;
}

.skills__list_item > *:not(:last-child) {
  margin-right: 5px;
}

.skills__list_item img {
  width: 2vw;
}

.skills-level {
  width: 50%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-gray);
}

.skills-level__level {
  padding: 3px 0;
  font-size: 14px;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-darkTeal);
}

.contacts-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts-list__item:last-child {
  align-items: center;
}

.contacts__list_link:not(:last-child) {
  margin-right: 10px;
}

.fa-github-alt:before,
.fa-telegram-plane:before,
.fa-linkedin-in:before {
  font-size: 2em;
}

.right-section {
  color: var(--color-white);
  background: no-repeat 100% 0%/ 102% url(../assets/img/header_back.jpg);
}

.gradient {
  padding: 75px 75px 0;
  background: linear-gradient(
    0deg,
    rgb(250 250 250 / 90%),
    rgb(33 73 94 / 74%),
    rgb(33 73 94 / 99.9%),
    rgb(37 69 88 / 99%),
    rgb(37 69 88 / 99%),
    rgb(37 69 88 / 99%),
    rgb(250 250 250 / 20%),
    rgb(250 250 250 / 10%)
  );
}

.goal {
  display: flex;
  flex-direction: column;
}

.goal__title,
.goal__text {
  color: var(--color-dark);
}

.goal__text {
  margin: 0;
  line-height: 1.5em;
}

.about-text__paragraph {
  margin: 0;
  text-indent: 30px;
  line-height: 1.5em;
}

.list-indent {
  position: relative;
  padding-left: 30px;
  line-height: 1.5em;
}

.list-indent:not(:last-child) {
  margin-bottom: 5px;
}

.list-indent::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 8px;
  height: 8px;
  background: var(--color-orange);
  border-radius: 50%;
}

.projects__text {
  margin: 0;
  margin-bottom: 20px;
}

.container-projects-slide {
  display: flex;
  padding: 0 25px;
}

.container-projects {
  display: none;
}

.slide {
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  background: top no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  list-style: none;
}

.slide__title {
  position: absolute;
  bottom: -40px;
  left: 35px;
  margin: 0;
  opacity: 0;
  font-size: 1.2em;
  color: var(--color-white);
}

.slide.active {
  flex: 10;
}

.slide.active .slide__title {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.6s;
}

.lang,
.hobbies {
  color: var(--color-gray);
}

/*! FOOTER */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upbutton {
  position: relative;
}

.btn-up {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 10px;
  background-color: var(--color-darkTeal);
  border: 1px solid var(--color-white);
  border-radius: 2px;
  color: var(--color-white);
  z-index: 100;
  cursor: pointer;
}

.btn-up:hover:not(:focus-visible) {
  border-color: var(--color-orange);
}

/*! MEDIA-QUERRIES*/
@media (max-width: 1148px) {
  .right-section {
    color: var(--color-white);
    background: var(--color-white);
  }

  .gradient {
    padding: 75px 30px 0;
    background: linear-gradient(
      0deg,
      rgb(250 250 250 / 90%),
      rgb(33 73 94 / 74%),
      rgb(33 73 94),
      rgb(37 69 88 / 99%),
      rgb(37 69 88 / 99%),
      rgb(37 69 88 / 99%),
      rgb(250 250 250 / 9%)
    );
  }

  .container-projects-slide {
    display: none;
  }

  .container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .project {
    margin-bottom: 10px;
  }

  .project-img {
    margin-bottom: 5px;
    width: 250px;
    height: 150px;
    background: 50% 50%/80% no-repeat;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

  .project-img:hover {
    opacity: 0.5;
  }

  .project__title {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
  }

  .project span {
    color: var(--color-orange);
    border: 1px solid var(--color-gray);
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  :root {
    --font-size-medium: 14px;
  }

  .main {
    flex-direction: column;
  }

  .left-section {
    margin-right: 10px;
    border-right: none;
  }

  .right-section {
    background: no-repeat 100% 0%/ 102% url(assets/img/header_back.jpg);
  }

  .gradient {
    background: linear-gradient(
      0deg,
      rgb(250 250 250 / 90%),
      rgb(33 73 94 / 74%),
      rgb(33 73 94 / 100%),
      rgb(37 69 88 / 99%),
      rgb(37 69 88 / 99%),
      rgb(37 69 88 / 99%),
      rgb(250 250 250 / 60%)
    );
  }
}

@media (max-width: 547px) {
  :root {
    --font-size-medium: 12px;
  }

  .main-container {
    flex-direction: column;
  }

  .title {
    padding: 30px 0 10px;
  }

  .title__name,
  .title__profession {
    line-height: 35px;
  }

  .right-section {
    background: none;
  }

  .gradient {
    padding: 10px 30px 0;
  }

  .skills__list_item img {
    width: 4vw;
  }

  .footer {
    padding: 25px 0;
  }
}

@media (max-width: 444px) {
  body {
    font-size: 14px;
  }

  .section-title {
    font-size: 16px;
  }

  .left-section {
    margin: 0 20px;
  }

  .title {
    margin: 0;
  }

  .skills__list_item img {
    width: 7vw;
  }

  .gradient {
    padding: 0 20px;
  }
}
