* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #303134;
}

body a {
  text-decoration: none;
  color: #303134;
  text-shadow: #959595 1px 2px 2px;
}

body a:hover {
  color: #f3ab00;
  text-shadow: none;
  transition: all 1s ease-in-out;
}

body h2 {
  text-transform: uppercase;
}

h2::after {
  position: relative;
  display: block;
  content: "";
  height: 1.5px;
  background-color: #f3ab00;
  top: 15px;
}

h2 img {
  width: 4vw;
  height: 4vw;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
}

/*! HEADER */
/* .header {
  background: #fff;
  border-radius: 5px 5px 0 0;
}

.menu {
  padding: 20px 40px;
  text-transform: uppercase;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.menu-item {
  font-weight: bold;
}

.menu-burger {
  display: none;
} */

/*! MAIN */
.main {
  display: flex;
  background: #fff;
}

.left-section {
  padding-top: 40px;
  /* border-right: 2px solid #f3ab00; */
}

.title {
  margin: 30px 50px;
  text-align: center;
}

.title__name {
  letter-spacing: 0.2em;
  color: #f3ab00;
}

.title__profession {
  text-transform: uppercase;
  font-size: 1em;
}

.skills {
  margin: 1vw 1vw 0;
}

.skills,
.about,
.education,
.lang,
.hobbies {
  padding: 15px;
}

.skills__list,
.contacts-list,
.education__list,
.lang__list,
.hobbies__list {
  list-style: none;
  padding: 25px 0 0;
}

.skills__list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__list_item img {
  width: 3vw;
}

.skills-level {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.skills-level.magic div,
.skills-level.html div:nth-child(-n+4),
.skills-level.css div:nth-child(-n+4),
.skills-level.git div:nth-child(-n+4),
.skills-level.js div:nth-child(-n+2),
.skills-level.react div:nth-child(-n+2),
.skills-level.bootstrap div:nth-child(-n+4),
.skills-level.mui div:nth-child(-n+4),
.skills-level.figma div:nth-child(-n+3),
.skills-level.photoshop div:nth-child(-n+3),
.skills-level.illustrator div:nth-child(-n+3) {
  background: #0074a3;
}

.empty-circle {
  width: 10px;
  height: 10px;
  border: 1px solid #0074a3;
  border-radius: 50%;
  overflow: hidden;
}

.half-circle {
  background-color: #0074a3;
  height: 10px;
  width: 5px;
}

.contacts,
.about,
.education,
.projects,
.lang,
.hobbies {
  margin: 1vw 0 0 1vw;
}

.contacts-list li {
  padding: 0 0 10px;
}

.connect {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-left: 0;
  list-style: none;
}

.fa-github-alt:before,
.fa-telegram-plane:before,
.fa-linkedin-in:before,
.fa-instagram:before {
  font-size: 2em;
}

.right-section {
  color: #fff;
  background: no-repeat 100% 0%/ 102%  url(assets/img/header_back.jpg);
}

.gradient {
  padding: 75px 75px 0;
  background: linear-gradient(0deg, rgb(250 250 250 / 90%), rgb(33 73 94 / 74%), rgb(33 73 94 / 99.9%), rgb(37 69 88 / 99%), rgb(37 69 88 / 99%), rgb(37 69 88 / 99%), rgb(250 250 250 / 20%), rgb(250 250 250 / 10%));
}

.goal {
  display: flex;
  flex-direction: column;
  margin: 0 2vw;
}

.goal__title,
.goal__text {
  color: #111;
  font-weight: bold;
}

.about-text {
  padding: 20px 0 0;
}

.about-text p {
  text-indent: 30px;
  line-height: 1.5em;
  margin: 0;
}

.education__list_item,
.lang__list_item,
.hobbies__list_item {
  position: relative;
  padding-left: 3vw;
  line-height: 1.5em;
}

.education__list_item::before,
.lang__list_item::before,
.hobbies__list_item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 8px;
  height: 8px;
  background: #f3ab00;
  border-radius: 50%;
}

.projects {
  margin-bottom: 60px;
}

.container-projects-slide {
  display: flex;
  padding-left: 0;
  margin: 0 95px;
}

.container-projects {
  display: none;
}

.slide {
  height: 300px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  background: top no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  list-style: none;
}

.slide h4 {
  position: absolute;
  bottom: -65px;
  left: 35px;
  margin: 0;
  padding-bottom: 15px;
  opacity: 0;
  font-size: 1.2em;
  text-shadow: #fff 2px 2px 10px;
}

.slide.active {
  flex: 10;
}

.slide.active h4 {
  opacity: 1;
  transition: opacity .3s ease-in-out .6s;
}

.lang,
.hobbies {
  color: #303134;
}

/*! FOOTER */

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
}

.footer-wrap a,
.footer-wrap div {
  padding: 10px;
}

.upbutton {
  position: relative;
}

.btn-up {
  display: block;
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 10px;
  background-color: #21495e;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}

.btn-up:hover {
  border-color: #f3ab00;
}

/*! MEDIA-QUERRIES*/
@media (max-width: 1148px) {
  .right-section {
    color: #fff;
    background: #fff;
  }

  .gradient {
    padding: 75px 30px 0;
    background: linear-gradient(
0deg, rgb(250 250 250 / 90%), rgb(33 73 94 / 74%), rgb(33 73 94), rgb(37 69 88 / 99%), rgb(37 69 88 / 99%), rgb(37 69 88 / 99%), rgb(250 250 250 / 9%));
  }

  .container-projects-slide {
    display: none;
  }

  .container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0;
  }

  .project {
    margin-bottom: 10px;
  }

  .project-img {
    width: 250px;
    height: 150px;
    background: 50% 50%/80% no-repeat;
  }

  .project-img:hover {
    opacity: .5;
    transition: all 1s ease-in-out;
  }

  .project h4 {
    margin-bottom: 5px;
    text-align: center;
  }

  .project span {
    color: #f3ab00;
    border: 1px solid #303134;
    border-radius: 10px;
    padding: 2px 5px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  /* .menu {
    display: none;
  }

  .menu-burger {
    display: flex;
  }

  #menu-burger__toggle {
    opacity: 0;
  }

  .menu-burger__btn {
    display: flex;
    margin-top: 8px;
    align-items: center;
    width: 25px;
    height: 17px;
    cursor: pointer;
    position: fixed;
    z-index: 51;
    left: 20px;
    top: 20px;
  }

  .menu-burger__btn > span,
  .menu-burger__btn > span::before,
  .menu-burger__btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #f3ab00;
    transition-duration: .5s;
  }

  .menu-burger__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu-burger__btn > span::after {
    content: '';
    top: 8px;
  }

  #menu-burger__toggle:checked ~ .menu-burger__btn > span {
    transform: rotate(45deg);
  }

  #menu-burger__toggle:checked ~ .menu-burger__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-burger__toggle:checked ~ .menu-burger__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-burger__toggle:checked ~ .menu-burger__box {
    visibility: visible;
    left: 0;
  }

  .menu-burger__box {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 50;
    background-color: #fff;
    transition-duration: .5s;
  }

  .menu-burger__box ul {
    margin: 0;
    padding-left: 0;
  }

  .menu-burger__item {
    display: block;
    padding: 10px;
    font-size: 1.5em;
  }

  .menu-burger__item:hover {
    opacity: .7;
    background: #ecf3ff;
  }

  .menu-burger__item:hover::after,
  .menu__item_active::after {
    opacity: 1;
    width: 100%;
  } */

  .main {
    flex-direction: column;
  }

  .left-section {
    margin: 0 45px;
    border-right: none;
  }

  .contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-section {
    background: no-repeat 100% 0%/ 102%  url(assets/img/header_back.jpg);
  }

  .gradient {
    background: linear-gradient(0deg, rgb(250 250 250 / 90%), rgb(33 73 94 / 74%), rgb(33 73 94 / 100%), rgb(37 69 88 / 99%), rgb(37 69 88 / 99%), rgb(37 69 88 / 99%), rgb(250 250 250 / 60%));
  }
}

@media (max-width: 547px) {
  .contact-links {
    justify-content: space-around;
  }

  .connect {
    flex-direction: column;
  }

  .right-section {
    background: none;
  }
}

@media (max-width: 444px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 16px;
  }

  .left-section {
    margin: 0 20px;
  }

  .title {
    margin: 0;
  }

  .skills__list_item img {
    width: 7vw;
  }

  .contact-links {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .connect {
    flex-direction: row;
  }

  .gradient {
    padding: 0 20px;
  }
}
